@font-face {
  font-family: "Effra Trial";
  src: url("../fonts/Effra_W_Rg.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Effra Trial";
  src: url("../fonts/Effra_W_Md.woff") format("truetype");
  font-weight: 500;
  font-style: normal;
}
