head
  meta(charset='utf-8')
  title template 
  meta(content='ie=edge' http-equiv='x-ua-compatible')
  meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
  //- link(rel="shortcut icon", href="assets/img/favicon.ico", type="image/x-icon")
  //- link(rel='icon', type='image/png', sizes='32x32', href='assets/img/favicon-32x32.png')
  //- link(rel='icon', type='image/png', sizes='16x16', href='assets/img/favicon-16x16.png')
  //- link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicon-96x96.png')
  link(rel='stylesheet' href='assets/css/main.css')
  script(src='assets/js/main.js' defer)
  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->
